# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
kube_config_cluster.yml

# Ansible
ansible/inventory/hosts.yml
*.retry

# Secrets
.env

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/
